include HISTORY.md
include README.md
include .gitignore

recursive-include tests *
recursive-include .github *

recursive-include src/uniprotptmpy/data *
include src/uniprotptmpy/py.typed

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include *.md justfile *.jpg *.png *.gif